
.container{
    height: 100%;
    width:100%;
    top:10%;
    position: relative;
}

.form{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:80vh;
    font-size: larger;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    backdrop-filter: blur(40px);
    background:rgba(0, 0, 3, 0.2);
    /* position: absolute; */
    
}

.title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.desc{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.btn{
    margin:10px auto;
}