
.login{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width:40vw;
    /* align-items:center ; */
    margin:30px auto;
    padding: 10px;
    color:antiquewhite;
    border:2px;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 10px;
    backdrop-filter: blur(30px);
   
}

.login1{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    /* width:40%; */
  }

.box{
    padding:8px;
    display: flex;
    justify-content: space-between;
}

#btn{
    justify-content: center;
}